src/main/mule/mongodb.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
    <http:listener-config name="mongodb-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mongodb-config" api="mongodb.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="adf1df0e-67fc-45b4-bedb-5474414b136e" >
		<mongo:connection-string-connection connectionString="****************" />
	</mongo:config>
	<flow name="mongodb-main">
        <http:listener config-ref="mongodb-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mongodb-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mongodb-console">
        <http:listener config-ref="mongodb-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mongodb-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\editstudent\(id):application\json:mongodb-config">
		<ee:transform doc:name="Transform Message" doc:id="e2abaf69-916b-4da4-a6db-86f15cc0b663" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id : attributes.uriParams.id ,
	firstname : payload.firstname,
	lastname : payload.lastname,
	email : payload.email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:update-documents collectionName="student" doc:name="Update documents" doc:id="ff025d04-f2c0-4242-aa2c-013f05884768" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[id : payload.id]]]></mongo:query>
		</mongo:update-documents>
    </flow>
    <flow name="delete:\deletestudent\(id):mongodb-config">
		<ee:transform doc:name="Transform Message" doc:id="6ecde413-eb8c-4521-8555-f19dcf424cd8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id : attributes.uriParams.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:remove-documents collectionName="student" doc:name="Remove documents" doc:id="7ea74002-8f19-4775-a211-48b9ff4018df" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[id : payload.id]]]></mongo:query>
		</mongo:remove-documents>
		<ee:transform doc:name="Transform Message" doc:id="d3705811-b46f-45eb-a1a4-ce6dafe05b66" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"deleted!!!"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\getstudent\(id):mongodb-config">
		<ee:transform doc:name="Transform Message" doc:id="914b44d4-9194-42af-a091-cd664e64898c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id : attributes.uriParams.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:find-documents collectionName="student" fields="firstname,lastname,email" doc:name="Find documents" doc:id="45d64635-06e2-4826-b4ad-3759fc272f0d" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[id: payload.id]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="751a69cd-a3fc-405f-ae17-539f21432993" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(student,index)->
{
	"firstname" : student.firstname,
	"lastname" : student.lastname,
	"email" : student.email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="73f0b62e-1b89-4157-995a-e2f5db4a34ad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="get:\getstudents:mongodb-config">
		<mongo:find-documents collectionName="student" fields="firstname,lastname,email" doc:name="Find documents" doc:id="55484753-f120-430d-abcd-fa09d9fd4aeb" config-ref="MongoDB_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="bdcb17d0-9580-4d3a-b783-199a635a811a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"firstname" : payload.firstname,
	"lastname" : payload.lastname,
	"email" : payload.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\poststudent:application\json:mongodb-config">
		<mongo:insert-document collectionName="student" doc:name="Insert document" doc:id="225b240c-3d78-47a2-9db0-8c4b92a4ff9a" config-ref="MongoDB_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="76e2647d-873e-4992-b840-6fa8e0f8374d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
